<h1>Find Owners:</h1>

<%= form_tag owners_path, :method => :get  do %>
	<table>
		<tr>
			<th>
				<%= label_tag :last_name, "Last Name:" %><br />
				<%= text_field_tag :last_name, nil, :size => 30 %>
			</th>
		</tr>
		<tr>
			<td><p class="submit"><%= submit_tag "Find Owners", :name => nil %></p></td>
		</tr>
	</table>
<% end %>
