<h1>Listing vets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Specialties</th>
  </tr>

<% @vets.each do |vet| %>
  <tr>
    <td><%= link_to "#{vet.first_name} #{vet.last_name}", vet %></td>
    <td>
    	<%= vet.specialties.collect { |s| s.name }.join(', ') %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vet', new_vet_path %>
